* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    position: relative;
    background-color: blue;
}