resultado index.css 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.header-content {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    max-width: 600px;
}

.header-content h1 {
    font-size: 70px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-content p {
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}

.start {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #1ac491;
    border: none;
    color: rgb(3, 3, 3);
    cursor: pointer;
    border-radius: 70px;
}

.container {
    width: 100%;
    background-color: rgb(194, 66, 66);
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

.protection-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.look-inside-section{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.safe-reliable-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    flex: 1;
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

.feature img {
    max-width: 100px;
    margin-bottom: 20px;
}

.look-inside-section img {
    max-width: 100%;
    margin-top: 20px;
}

.safe-reliable-section img {
    max-width: 100%;
    margin-top: 20px;
}

.look-inside-section button {
    padding: 10px 20px;
    background-color: #1ac491;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.safe-reliable-section button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1ac491;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.look-inside-section button:hover {
    background-color: #286653;
}

.safe-reliable-section button:hover {
    background-color: #286653;
}

.safe-reliable-section {
    background-color: #1ac491;
    color: white;
}